.cat-list_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.cat-item {
    width: 200px;
    height: 80px;
    background-color: darksalmon;
    margin: 10px;
    cursor: pointer;
}
