.contact_block {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.viber:hover,
.telegram:hover,
.mail:hover,
.contact_us:hover {
    color: rgb(238, 45, 151);
    cursor: pointer;
}

.teleg {
    width: 24px;
    height: 24px;
}

.viber {
    svg {
        color: #7c53a6;
    }
    span {
        color: #7c53a6;
    }
}
