<div class="wrapper">
  <div class="main_slider">
    <ngb-carousel *ngIf="array">
      <ng-template *ngFor="let item of array" ngbSlide>
    <div class="slider_card">
      <div class="slider_image">
        <img [src]="item.imageUrls[1]" alt="">
      </div>
      <div class="slider_description">
        <div class="top_section">
          <p>Iphone 12</p>
          <p>Во-первых, это быстро.</p>
        </div>
        <div class="bottom_section">
          <div class="benefit">
            <p class="benefitBefor">Выгода до</p>
            <p class="benefit_count">300</p>
            <p class="benefit_currency">руб</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
  </div>

  <div class="popular_goods">
    <h3>Популярные товары</h3>
    <div class="popular_container">
      <div class="popular_item">
        <img src="" alt="">
        <mat-icon>recommend</mat-icon>
        <a href=""></a>
        <ngb-rating [(rate)]="currentRate" [max]="5"></ngb-rating>
        <p>123 р</p>
      </div>
    </div>
    </div>
  </div>






