<div class="wrapper">
  <div class="main_slider">
    <div class="slider_card">
      <div class="slider_image">
        <img src="https://cdn21vek.by/img/galleries/6240/261/preview_b/iphone12mini64gbmgdy3_apple_5fc912ff87fc3.jpeg" alt="">
      </div>
      <div class="slider_description">
        <div class="top_section">
          <p>Iphone 12</p>
          <p>Во-первых, это быстро.</p>
        </div>
        <div class="bottom_section">
          <div class="benefit">
            <p class="benefitBefor">Выгода до</p>
            <p class="benefit_count">300</p>
            <p class="benefit_currency">руб</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="popular_goods">
    <h3>Популярные товары</h3>
    <div *ngFor="let item of categories$ | async">
      <p>{{item}}</p>
    </div>
  </div>
</div>



