.favotite_contaoner {
    min-height: calc(100vh - 395px);
    .wrapper {
        display: flex;
    }
    h3 {
        text-align: center;
    }
}

.favorite-item {
    display: flex;
    max-width: 460px;
    justify-content: center;
    // img {
    //     width: 140px;
    // }
    .name-favorite {
        width: 200px;
        text-align: center;
    }
}
.separator {
    // height: 80%;
    width: 1px;
    background-color: rgb(176, 173, 173);
    margin: 20px;
}
.remove-from-favorite {
    background: none;
    border: none;
    color: blue;
}

.description_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.img_container {
    // margin: 40px;
    max-width: 50%;
    max-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        max-height: 80%;
        // max-width: 500px;
    }
}
