<div class="navigate-block_container">
  <div class="wrapper">
    <div class="container_top">
      <img class="logo" src="../../../../../../assets/icons/logo.svg" alt=""
      routerLink=''>
      <button mat-button class="button-open" [matMenuTriggerFor]="mainCategories">Каталог товаров</button>
      <!-- #docregion sub-menu -->
      <mat-menu #mainCategories="matMenu">
        <button mat-menu-item *ngFor="let item of mainCategories$ | async" (mouseenter)="updateSubCategoryById(item.id)"
          [matMenuTriggerFor]="q"
          routerLink='/{{item.id}}'
          >{{item.name}}</button>
      </mat-menu>
      <mat-menu #q="matMenu">
        <button mat-menu-item *ngFor="let subItem of subCategories$ | async"
        routerLink='/{{catById}}/{{subItem.id}}'
        >{{subItem.name}}</button>
      </mat-menu>
      <!-- <mat-form-field class="form_search" appearance="fill">
        <mat-icon>search</mat-icon>
        <mat-label>
          Поиск товаров
        </mat-label>
        <input matInput class="input-search" type="text" [(ngModel)]="value" (ngModelChange)="updateSearchValue($event)">
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; test()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> -->
      <div class="search_container">
        <mat-icon class="search-icon">search</mat-icon>
        <mat-icon class="clear-input" *ngIf="value" (click)="value=''; test()">close</mat-icon>
        <input type="text" class="input-search" placeholder="Поиск товаров" [(ngModel)]="value" (ngModelChange)="updateSearchValue($event)">
      </div>
      <app-profile></app-profile>
      <button class="basket_btn" mat-stroked-button
      routerLink='/orders'>Корзина</button>
    </div>
  </div>
  <div class="serch-result_container" *ngIf="value">
    <ul class="search-list">
      <li *ngFor="let i of searchResult$ | async">
        <!-- <a routerLink='categories'>{{i.name}}</a> -->
        <div>
          <img [src]="i.imageUrls[0]" alt="">
          <button routerLink='/{{i.category}}/{{i.subCategory}}/{{i.id}}'
          (click)="clickLink()"> {{i.name}}</button>
        </div>
        <span>{{i.price | currency:'BYN':'symbol-narrow'}}</span>
      </li>
    </ul>
  </div>
  <app-navigate-by-catigory></app-navigate-by-catigory>
</div>
