@import "../../../../constatnts/styles/core-style.scss";

.wrapper {
    width: $wrapper;
    margin: 0 auto;
}

.navigate-block_container {
    background-color: #f7f8fa;
}

.container_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: $btnHeight;
    max-width: 120px;
    cursor: pointer;
}

.catalogue_btn {
    width: 160px;
    height: $btnHeight;
}

.input_search {
    height: $btnHeight;
}

.form_search {
    width: 540px;
    // height: $btnHeight;
}

.basket_btn {
    height: $btnHeight;
    width: 110px;
    border: 1px solid rgb(176, 173, 173);
    border-radius: 40px;
}

// 160x45
