<div class="wrapper">
  <div class="sicial_block">
    <a href="https://www.youtube.com/channel/UChNfLMJmxWcaMy1oPxxSvog" target="_blank" mat-mini-fab color="none" class="youtoube"></a>
    <a href="https://www.instagram.com/21vek.by/" target="_blank" mat-mini-fab color="none" class="instagram"></a>
    <a href="https://www.pinterest.ru/pin/569353577871782297/" target="_blank" mat-mini-fab color="none" class="pinterest"></a>
    <a href="https://twitter.com/21vekBy" target="_blank" mat-mini-fab color="none" class="twitter"></a>
    <a href="https://www.facebook.com/21vek.by/" target="_blank" mat-mini-fab color="none" class="facebook"></a>
  </div>
</div>

