.sicial_block {
    button {
        // background-color: white;
    }
}
.youtoube {
    background-image: url("../../../../../../assets/icons/icon-youtube.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.instagram {
    background-image: url("../../../../../../assets/icons/icon-instagram.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.pinterest {
    background-image: url("../../../../../../assets/icons/icon-pinterest.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.twitter {
    background-image: url("../../../../../../assets/icons/icon-twitter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
.facebook {
    background-image: url("../../../../../../assets/icons/icon-facebook.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
}
