.register-pop-up {
    width: 600px;
    height: 600px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    top: calc((100vh / 2) - 300px);
    left: calc((100vw / 2) - 300px);
    border-radius: 10px;
}
.close {
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 35px;
    cursor: pointer;
}

.register_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    span {
        font-size: 25px;
        font-weight: 600;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        height: 50%;
        input {
            width: 80%;
            height: 40px;
            border-radius: 5px;
            outline: none;
            border: 1px solid rgba(213, 215, 219, 0.4);
        }
        button {
            color: #ffffff;
            width: 160px;
            height: 40px;
            font-size: 20px;
            background: linear-gradient(90deg, #941e94, #e52e6b);
            cursor: pointer;
        }
    }
}

.reg-btn {
    background: none;
    border: none;
    color: blue;
}

.separator-login {
    width: 80%;
    height: 1px;
    background-color: rgba(213, 215, 219, 0.4);
}
